*{
} 
.ease{
    transition: width 0.3s;
}
.easeheight{
    transition: height 0.2s;

}
a:focus{
    color: white!important;
    background-color: black
}
a,a:visited,a:active{
    color:inherit;
}
.h-100{
    position: relative;
}
.smallwidth{
    height: 100vh!important;
    width: 4rem;
}
.largewidth{
    height: 100vh!important;
    width: 14rem;
}
.nav-item,.dropdown-item{
    font-size: small;
    padding: 3px;
    width: 100%;
    line-height: normal;
    align-items: center;
}

.sidenavTab a:hover i {
    color: white;
}

.nav-link:hover p{
    color: black;
}
.sidenavTab a:hover ,.sidenavTab a:hover p {
    background-color: black;
    color: white !important;
    transition: color 0.3s ease, background-color 0.3s ease; /* Add transition for smooth effect */

}

p{
    align-items: center;
    line-height: normal;
    margin-bottom: 0;
}
.dropdown-item:hover{
    background: black;
    color: white;
}
.sidenavTab{
    overflow-y: auto;
    overflow-x: hidden!important;
    
    /* overflow-y: hidden!important;
    height:00vh */
}
.bg{
    background-color: white
}
.submenu{
    margin-left: 27px;
}